<div>
<img src="{{singleMovie.image}}" alt="Movie poster">
<h3>{{singleMovie.title}}</h3>

<h5>Director: {{singleMovie.director}}</h5>

<h5>Stars: {{singleMovie.stars}}</h5>

<p>{{singleMovie.description}}</p>

<h2>Showtimes: {{singleMovie.showtimes}}</h2>

</div>